<%- include ('src/views/partials/header.ejs'); -%>

<link rel="stylesheet" href="src/css/home-styles.css">
<link rel="stylesheet" href="src/css/deposit-styles.css">

</head>
<body>

    <%- include ('src/views/partials/top-welcome-bar.ejs'); -%>


    <section id="main-display-bar">

        <input type="button" class="image-button" value="Start Camera" name="start-capture-button" id="start-capture-button">
        <input type="button" class="image-button" value="Capture Image" name="take-capture-button" id="take-capture-button">
        <input type="button" class="image-button" value="Send Image" name="send-capture-button" id="send-capture-button">
        <video autoplay id="video"></video>
        <canvas id="video-canvas"></canvas>

    </section>



    <%- include ('src/views/partials/bottom-menu-bar.ejs'); -%>

    <script src="src/javascript/AppScripts.js" type="module"></script>
    <script src="src/javascript/pages/Deposit.js" type="module"></script>

<%- include ('src/views/partials/footer.ejs'); -%>