<%- include ('src/views/header.ejs'); -%>

<link rel="stylesheet" href="src/css/index-styles.css">

</head>
<body>

    <section id="welcome-bar">
        <p>Mr.Big's Bank</p>
        <p id="welcome-name"></p>
    </section>

    <section id="balance-bar">
        <p class="account-name">Savings Account</p>
        <div class="balance-amount"><p id="savings-balance">$1,100</p></div>
        <p class="account-name">Checking Account</p>
         <div class="balance-amount"><p id="checking-balance">$1,100</p></div>
        <p class="account-name">Credit Card: 1234</p>
         <div class="balance-amount"><p id="credit-balance">$1,100</p></div>
    </section>

    <section id="menu-bar">
        <button class="menu-button" id="deposit-button">Deposit</button>
        <button class="menu-button" id="transfer-button">Transfer</button>
        <button class="menu-button" id="logout-button">Logout</button>
    </section>


<script src="src/javascript/Index.js" type="module"></script>
<%- include ('src/views/footer.ejs'); -%>