<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>In-Between</title>
    <meta name="In-Between Card Game" content="Card Game">
    <meta name="q0r3y" content="SitePoint">

    <link rel="stylesheet" href="src/css/main.css">

</head>

<body>
    <main>
        <figure id="card1">card1</figure>
        <figure id="card2">card2</figure>
        <figure id="card3">card3</figure>
    </main>

    <section id="gameText">

    </section>


    <form id="input">
        <input class="u-full-width" type="email" placeholder="username@mailserver.com" name="getEmail" id="getEmail">
        <input class="button-primary" type="button" value="button" name="button" id="button">
    </form>
</body>
<script src="/src/javascripts/main.js" type="module"></script>
</html>