<%- include ('src/views/header.ejs'); -%>

<link rel="stylesheet" href="src/css/newuser-styles.css">

</head>
<body>

<figure>
    <img src="src/images/152-bitcoin.png">
</figure>

<form id="new-user-form">
    <input type="text" name="name" id="name-input" placeholder="Name">
    <input type="text" name="email" id="email-input" placeholder="Email">
    <input type="text" name="password" id="password-input" placeholder="Password">
    <input class="button-primary" type="button" value="submit" name="button" id="new-user-submit">
</form>

<p>Good news! If you sign up for an account today you will receive $100 for free</p>

<script src="src/javascript/NewUser.js" type="module"></script>

<%- include ('src/views/footer.ejs'); -%>