<section id="menu-bar">
    <button class="menu-button" id="home-button">Home</button>
    <button class="menu-button" id="deposit-button">Deposit</button>
    <button class="menu-button" id="transfer-button">Transfer</button>
    <button class="menu-button" id="logout-button">Logout</button>
</section>